# Airflow
AIRFLOW_UID=50000
AIRFLOW_PROJ_DIR=.

AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=admin
AIRFLOW_ADMIN_FIRSTNAME=Kai
AIRFLOW_ADMIN_LASTNAME=Dev
AIRFLOW_ADMIN_EMAIL=admin@example.com

# Airflow database
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow
POSTGRES_PORT=5433

# MongoDB
MONGO_PORT=27017
MONGO_URI=mongodb://mongo:27017
MONGO_DATABASE=stackoverflow_asm2

# Paths inside Airflow container
DATA_RAW_PATH=/opt/airflow/data/raw
DATA_OUTPUT_PATH=/opt/airflow/data/output

# Dataset URLs
QUESTIONS_CSV_URL=
ANSWERS_CSV_URL=