[core]
# Sử dụng LocalExecutor để Airflow có thể chạy nhiều task song song
executor = LocalExecutor

# Không load DAG ví dụ mặc định của Airflow
load_examples = False

# Thư mục chứa DAG bên trong container
dags_folder = /opt/airflow/dags

# Không pause DAG ngay khi tạo
dags_are_paused_at_creation = True

# Timezone mặc định
default_timezone = utc


[database]
# Metadata database của Airflow
sql_alchemy_conn = postgresql+psycopg2://airflow:airflow@postgres:5432/airflow


[webserver]
# Secret key cho Airflow webserver
secret_key = asm2_secret_key

# Airflow UI
web_server_host = 0.0.0.0
web_server_port = 8080


[scheduler]
# Tần suất scheduler scan DAG mới
dag_dir_list_interval = 30

# Cho phép scheduler chạy nhiều task hơn nếu dependency cho phép
max_threads = 2


[logging]
# Folder log bên trong container
base_log_folder = /opt/airflow/logs
remote_logging = False